.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.bottom-space { margin-bottom: 30px; }
.top-margin { margin-top:20px; }

/* just commenting out the old footer CSS to match updated theme from Travis.

.footer_a { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
.footer_a a { color: #ccc; }
.footer_a a:hover {color: #fff; }
.footer_a .widget { margin-bottom:30px; }		
.footer_a .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
.footer_a .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
.footer_a .entry-meta a { color: #333333; }
.footer_a .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }

*/

.footer_b { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
.footer_b a { color: #aaa; }
.footer_b a:hover { color: #fff; }
.footer_b { margin-bottom: 0; }


.widget-nav { margin-left:-5px; }		
.widget-nav a{ margin:0 5px; }
.title-image { max-width:72%; }

.panel-body{
	background-image:url('../img/web/cross_scratches.png');
}

.modal-body{
	background-image:url('../img/web/cross_scratches_blue.png');
}
.modal-body p{
	font-size:20px;
}

/* css from fuse-updates */


/* Move down content because we have a fixed navbar that is 60px tall */

body {
  padding-top: 58px;
  background-color: #0069e1;
  background: url(../img/web/header-background-sticky.png);
  background-size: cover;
}

/* adjust padding for nav collapse */
@media (max-device-width: 768px) {
	body{
		padding-top: 50px;
	}
}

.jumbo-nav {
  margin: 0 auto;
}

.jumbo-nav .navigation-wrapper {
  background: url(../img/web/wallpaper1.jpg) no-repeat;
  min-height: 200px;
  background-position: center top;
  background-size: cover;
}

.jumbo-nav .navigation-wrapper .container {
  padding-top: 250px;
}

.jumbo-nav .navigation-wrapper .navigation .header-logo {
  width: 294px;
  height: auto;
  padding-top: 65px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.jumbo-nav .navigation-wrapper .navigation .header-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.header-logo a:hover img {
  -webkit-animation: ease-out-back .4s ease-out;
  animation: ease-out-back .4s ease-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.jumbo-nav .navigation-wrapper .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: 1;
  overflow: hidden;
}

.jumbo-nav .navigation-wrapper .navigation:before,
.jumbo-nav .navigation-wrapper .navigation:after {
    content: '';
    display: block;
    width: calc(50% - 234px);
    height: 150px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 965px 118px;
    margin-top: 50px;
}


.navigation-wrapper ul li {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.enhanced {
  background-color: rgba(255,255,255,0.75);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.enhanced-modal {
  background-color: rgba(233,242,251,0.75);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.pokeball-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.pokeball-wrapper img {
  margin-top: -20px;
  max-width: 40px;
}

img.pokemon.small {
		max-height: 120px;
    padding: 5px;
    float: left;
    margin: 0 10px 0 0;
    background-color: #fff;
}

.footer-cont {
	margin-bottom:0px;
}

/** bootstrap overwrites **/

.navbar-inverse {
  background-color: rgba(0,0,0,0.5);
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #ffcb05;
    text-shadow: 0px 0px 5px #0069e1;
}

/** Custom Tooltip CSS **/
#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}
 
    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }
 
        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }