#controls{
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
	display:none;
	right: 0;
	padding: 15px;;
	position: absolute;
	text-align: center;
	top: 55px;
	width: 40%;
	min-width:250px;
	max-width:400px;
	max-height:80%;
	overflow:auto;
	z-index: 25;
}
#controls-show{
	 right: 0;
	 padding: 6px;
	 padding-top:-6px;
	 position: absolute;
	 text-align: center;
	 top: 55px;
	 min-width:65px;
	 z-index: 25;
	 cursor: pointer
}

#controls-hide {
	cursor: pointer
}

#progressWindow{
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
	
	left: 0;
	padding: 5px 0px;
	position: absolute;
	text-align: center;
	bottom: 55px;
	width: 35%;
	padding:8px;
	min-width:150px;
	max-width:250px;
	max-height:80%;
	overflow:auto;
	z-index: 25;
}

#nest_images{
	position: relative; 
	width:100px;
	height:100px;
	float:left;
	margin:8px;
}

#nest_images img {
	position:absolute;
	z-index:1
}

#nest_images img.active{z-index:3}


.help-icon {
	display:block;
	float:left;
	height:auto;
	margin:8px;
}

.enhanced {
  background-color: rgba(255,255,255,0.75);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

	.onoffswitch {
			position: relative; width: 88px;
			-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
			margin:0 auto;
	}
	.onoffswitch-checkbox {
			display: none;
	}
	.onoffswitch-label {
			display: block; overflow: hidden; cursor: pointer;
			border: 2px solid #999999; border-radius: 50px;
	}
	.onoffswitch-inner {
			display: block; width: 200%; margin-left: -100%;
			transition: margin 0.3s ease-in 0s;
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
			display: block; float: left; width: 50%; height: 38px; padding: 0; line-height: 38px;
			font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
			box-sizing: border-box;
	}
	.onoffswitch-inner:before {
			content: "";
			padding-left: 10px;
			background-color: #EEEEEE; color: #FFFFFF;
	}
	.onoffswitch-inner:after {
			content: "";
			padding-right: 10px;
			background-color: #EEEEEE; color: #999999;
			text-align: right;
	}
	.onoffswitch-switch {
			display: block; width: 28px; margin: 5px;
			background: #A1A1A1;
			position: absolute; top: 0; bottom: 0;
			right: 46px;
			border: 2px solid #999999; border-radius: 50px;
			transition: all 0.3s ease-in 0s; 
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
			margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
			right: 0px; 
			background-color: #27A1CA; 
	}
	
/* Menu-Nav */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
	border-radius: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
	