* {
	font-family: 'Lato', sans-serif;
}
.hide-calc {
	display:none
}
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.mdi {
    width: 18px;
}
.mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
 .mdi::before {
    position: relative;
    top: 4px;
}
.mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.alert .mdi::before {
    position: relative;
    top: 4px;

}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.mdi::before {
    position: relative;
    top: 2px;

}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


label.btn.btn-danger.check.active{
  background-color: #5CB85C;
  border-color: #5CB85C;
}

.btn-block {
  max-width: 100px;
}
