/*!LOTUS*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

details,
main,
summary {
    display: block
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: none;
    padding: 0;
    margin: 0 2px
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

body {
    background-color: #f0f0f0;
    color: #353535;
    font-family: 'OpenSans', sans-serif;

}

code,
pre,
kbd,
samp {
    font-family: 'Inconsolata', monospace
}

blockquote {
    border-left: .1em solid #e2e5e9;
    margin: 1.5em 0;
    padding: 0 1.25em 0 1.24em
}

hr {
    border-color: #e2e5e9;
    border-style: solid;
    border-width: .1em;
    margin: 2em 0
}

ol ol li {
    list-style-type: lower-alpha
}

ol ol ol li {
    list-style-type: lower-roman
}

b,
strong {
    font-weight: 700
}

small {
    font-size: .8em;
    line-height: 1.2em
}

sub,
sup {
    font-size: .6em;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

.row {
    margin-left: -1.25em
}

.col,
.col-sm,
.col-lg {
    background-clip: content-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 1.25em;
    position: relative;
    vertical-align: top
}

.no-gutter {
    padding-left: .25em
}

.c12 {
    width: 100%
}

.c11 {
    width: 91.66%
}

.c10 {
    width: 83.33%
}

.c9 {
    width: 75%
}

.c8 {
    width: 66.66%
}

.c7 {
    width: 58.33%
}

.c6 {
    width: 50%
}

.c5 {
    width: 41.66%
}

.c4 {
    width: 33.33%
}

.c3 {
    width: 25%
}

.c2 {
    width: 16.66%
}

.c1 {
    width: 8.33%
}

@media (max-width:55em) {
    .col-lg {
        width: 100%;
        margin-bottom: 1.25em
    }
}

@media (max-width:30em) {
    .col {
        width: 100%;
        margin-bottom: 1.25em
    }
}

.btn {
    background-color: #a8b2bd;
    border: 0;
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    padding: .5em 1.5em;
    outline: 0;
    text-align: center
}

.btn-sm {
    padding: .25em .75em
}

.btn-lg {
    padding: 1em 3em
}

label {
    margin-bottom: .5em
}

label,
label textarea,
label input,
label select {
    display: block
}

textarea,
input,
select {
    border: .1em solid #e2e5e9;
    padding: .5em
}

textarea:focus,
input:focus,
select:focus {
    border-color: #70bde6
}

textarea,
input {
    outline: 0;
    width: 13em
}

select {
    height: 2.25em;
    width: 14em
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    width: auto
}

input[disabled] {
    color: #e2e5e9
}

.form-addon {
    background-color: #fff;
    border: .1em solid #e2e5e9;
    padding: .5em 1em
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.table th,
.table td {
    padding: .5em;
    text-align: left
}

.table tbody>:nth-child(2n-1) {
    background-color: #e2e5e9
}

.sp-sm {
    padding: 1em
}

.sp-vert-sm {
    padding-bottom: 1em;
    padding-top: 1em
}

.sp-horiz-sm {
    padding-left: 1em;
    padding-right: 1em
}

.sp-md {
    padding: 2em
}

.sp-vert-md {
    padding-bottom: 2em;
    padding-top: 2em
}

.sp-horiz-md {
    padding-left: 2em;
    padding-right: 2em
}

.sp-lg {
    padding: 3em;
		min-height:500px;
}

.sp-vert-lg {
    padding-bottom: 3em;
    padding-top: 3em
}

.sp-horiz-lg {
    padding-left: 3em;
    padding-right: 3em
}

@media (max-width:30em) {
    .sp-sm {
        padding: .5em
    }
    .sp-vert-sm {
        padding-bottom: .5em;
        padding-top: .5em
    }
    .sp-horiz-sm {
        padding-left: .5em;
        padding-right: .5em
    }
    .sp-md {
        padding: 1em
    }
    .sp-vert-md {
        padding-bottom: 1em;
        padding-top: 1em
    }
    .sp-horiz-md {
        padding-left: 1em;
        padding-right: 1em
    }
    .sp-lg {
        padding: 1.5em
    }
    .sp-vert-lg {
        padding-bottom: 1.5em;
        padding-top: 1.5em
    }
    .sp-horiz-lg {
        padding-left: 1.5em;
        padding-right: 1.5em
    }
}